@{
    ViewBag.Title = "Giới thiệu";
}
<style>
    img.author_img.rounded-circle {
    width: 175px;
    height: 160px;
}
</style>
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Giới thiệu</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="single-blog.html">Giới thiệu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="~/Content/css_web/img/banner/banner-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <div class="post_tag">
                                <a href="#">Food,</a>
                                <a class="active" href="#">Technology,</a>
                                <a href="#">Politics,</a>
                                <a href="#">Lifestyle</a>
                            </div>
                            <ul class="blog_meta list">
                                <li>
                                    <a href="#">
                                        Mark wiens
                                        <i class="lnr lnr-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        12 Dec, 2017
                                        <i class="lnr lnr-calendar-full"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        1.2M Views
                                        <i class="lnr lnr-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        06 Comments
                                        <i class="lnr lnr-bubble"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="social-links">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-behance"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>Giới thiệu về Casio G-shock</h2>
                        <p class="excert">
                            <h4 style="font-weight:bold">CASIO G-SHOCK</h4>
                            Casio lần đầu tiên giới thiệu sản phẩm đồng hồ của mình vào năm 1974. Kể từ đó các nhà sản xuất
                            luôn phát triển các ý tưởng, áp dụng và phát triển các kĩ thuật ứng dụng cho chiếc đồng hồ Casio.
                            Chiếc đồng hồ đầu tiên với công nghệ nền tảng tương tự như chiếc máy tính của hãng đã mang lại khá
                            nhiều thành công.Tuy nhiên Caso không dừng lại ở thành công đó. Hãng luôn muốn phát triển một cái gì
                            đó không chỉ đơn thuần là chỉ thời gian và kết quả của điều này là cuộc cách mạng mang tên G-Shock.
                            Đồng hồ G-Shock được giới thiệu vào năm 1983 từ đó nó đã trở thành một trong những thương hiệu đồng
                            hồ thành công nhất thế giới.
                        </p>
                        <p>
                            <h4 style="font-weight:bold">Những chiếc đồng hồ không bao giờ vỡ.</h4>
                            Trước khi G-Shock xuất hiện vào những năm 1980. hầu hết các đồng hồ đeo tay đều phải rất cẩn thận
                            khi sử dụng. Chúng dễ vỡ, dễ xước và dễ bị nước vào. Nhưng G-Shock xuất hiện và thay đổi tất cả.
                            Chiếc đồng hồ G-Shock chắc chắn và bền, hoạt động tốt cho dù bị quăng quật, chà sát hay nhúng nước.
                            Kể từ khi ra đời G-shock liên tục được cải tiến, nâng cấp cấu trúc và vật liệu. Đồng hồ cũng được thử
                            nghiệm và so sánh trong các điều kiện khắc nhiệt nhất để đảm bảo là những đồng hồ bền nhất so với các
                            đối thủ cùng loại. Kết quả của sự cố gắng và nghiên cứu mang lại sự tin tưởng của khách hàng những
                            người tìm kiếm chiếc đồng hồ bền và tin cậy. G-Shock ngày nay được sử dụng rất nhiều trong quân đội,
                            trong các đoàn thám hiểm, là hành trang của các thợ lặn hay vận động viên thể thao hàng đầu thế giới.
                        </p>
                        <p>
                            <h4 style="font-weight:bold">Luôn dẫn đầu về công nghệ</h4>
                            Casio luôn ưu tiên sử dụng các công nghệ tiên tiến nhất trên các sản phẩm G-Shock.
                            Tính năng tự động chỉnh giờ theo đồng hồ nguyên tử là một trong những tính năng đáng chú ý đó,
                            rất nhiều sản phẩm G-shock đã sử dụng công nghệ điều chỉnh giờ tự động này. Nó đảm bảo cho người
                            đeo luôn luôn biết được chính xác thời gian. Đồng hồ G-shock luôn có khả năng chịu nước tốt tối
                            đa đến 200 mét độ sâu. Nó giúp bạn yên tâm tắm biển hoặc tham gia bất cứ hoạt động nào dưới nước.
                        </p>
                        <p>
                            <h4 style="font-weight:bold">Năng lượng mặt trời</h4>
                            Pin hóa học là rác thải gây hại đối với môi trường. Nhiều đồng hồ  Casio G-Shock ngày nay
                            sử dụng năng lượng mặt trời thay thế cho pin hóa học truyền thống. Những chiếc đồng hồ được
                            trang bị công nghệ này có thể họat động được từ 20 đến 30 năm mà không cần thay pin. Việc sử
                            dụng năng lượng mặt trời không chỉ góp phần nhỏ bé bảo vệ hành tinh. Nó còn giúp bạn giảm được
                            một khoản tiền khá lớn khi phải thay pin sau mỗi một vài năm sử dụng.
                        </p>
                        <p>
                            <h4 style="font-weight:bold">Các chức năng khác biệt</h4>
                            Đồng hồ Casio G-Shock được thiết kế không chỉ đơn thuần là chỉ thời gian. Một số đồng hồ
                            có chức năng xem lịch mặt trăng, lịch thủy triều cho người lướt sóng, hay các tính năng
                            phục vụ thể thao như đo khoảng cách khi chạy, độ sâu khi lặn...
                        </p>
                        <p>
                            <h4 style="font-weight:bold">Đa dạng về kiểu dáng</h4>
                            Casio luôn biết tạo sự khác biệt cho mỗi chiếc đồng hồ G-shock. Ngoài đặc điểm
                            chung là cứng và bền, mỗi model G-shock đều có sự khác biệt. Chúng khác nhau về
                            dây đeo: nhựa dẻo, dây đeo cao su, dây đeo inox hay titanium... Chúng khách nhau về màu sắc
                            trắng, đen, xanh, đỏ...Chúng khác nhau về đèn nền, về kích cỡ hay thiết kế bề ngoài. Bất cứ phong
                            cách thời trang nào G-Shock đều có một mẫu đồng hồ phù hợp với bạn.
                        </p>
                        
                    </div>
                    <div class="col-lg-12">
                        <div class="quotes">
                            Đồng hồ là phụ kiện thời trang quen thuộc và rất phổ biến với cả nam giới lẫn
                            nữ giới, trong rất nhiều thương hiệu nổi tiếng thì ở Việt Nam rất ưa chuộng sử
                            dụng đồng hồ Casio. Sản phẩm quy tụ những điểm vượt trội về chất lượng, máy móc, thiết kế và đặc
                            biệt là giá thành rất phù hợp với đa số người tiêu dùng. Với những ưu điểm này thì nhu cầu sở hữu
                            những chiếc đồng hồ thời trang Casio ngày càng cao và tạo nên xu hướng trên thị trường thời trang.
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img class="img-fluid" src="~/Content/css_web/img/banner/banner-bg.jpg" alt="" style="height:255px">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="~/Content/css_web/img/banner/banner-2.jpg" alt="" style="height:255px">
                            </div>
                            <div class="col-lg-12 mt-25">
                                <p>
                                    Với phái mạnh đồng hồ là một món phụ kiện đi kèm vừa có giá trị để xem thời gian
                                    còn góp phần đem lại sự sang trọng và lịch lãm. Trên thị trường hiện nay, đồng hồ nam
                                    có rất nhiều mẫu mã và kiểu dáng để lựa chọn. Tùy thuộc vào gu thẩm mỹ và nhu cầu sử dụng
                                    mà các bạn nam có thể chọn cho mình một chiếc đồng hồ cổ điển và đơn giản hay sang trọng,
                                    quý phái. Một chiếc đồng hồ đẹp và chất lượng sẽ đem lại sự tự tin và cá tính cho người dùng.
                                </p>
                                <p>
                                    Không chỉ là trang phục, phụ kiện hay trang sức mà ngày nay đồng hồ được xem là vũ
                                    khí thời trang của mọi người, đặc biệt là đối với phái đẹp. Chọn đồng hồ nữ phù hợp
                                    với tính cách, sở thích và không gian sử dụng góp phần làm tăng thêm vẻ đẹp của những
                                    quý cô sành điệu là vấn đề rất được quan tâm hiện nay. Hãy cùng khám phá và tìm hiểu những
                                    thương hiệu đồng hồ được ưa chuộng và cách chọn như thế nào để làm tôn vinh vẻ đẹp và phong
                                    cách thời thượng mọi lúc mọi nơi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="navigation-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                            <div class="thumb">
                                <a href="#">
                                    <img class="img-fluid" src="~/Content/css_web/img/blog/prev.jpg" alt="">
                                </a>
                            </div>
                            <div class="arrow">
                                <a href="#">
                                    <span class="lnr text-white lnr-arrow-left"></span>
                                </a>
                            </div>
                            <div class="detials">
                                <p>Prev Post</p>
                                <a href="#">
                                    <h4>Space The Final Frontier</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                            <div class="detials">
                                <p>Next Post</p>
                                <a href="#">
                                    <h4>Telescopes 101</h4>
                                </a>
                            </div>
                            <div class="arrow">
                                <a href="#">
                                    <span class="lnr text-white lnr-arrow-right"></span>
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img class="img-fluid" src="~/Content/css_web/img/blog/next.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>05 Comments</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/css_web/img/blog/c1.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5>
                                        <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list left-padding">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/css_web/img/blog/c2.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5>
                                        <a href="#">Elsie Cunningham</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list left-padding">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/css_web/img/blog/c3.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5>
                                        <a href="#">Annie Stephens</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/css_web/img/blog/c4.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5>
                                        <a href="#">Maria Luna</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/css_web/img/blog/c5.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5>
                                        <a href="#">Ina Hayes</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form>
                        <div class="form-group form-inline">
                            <div class="form-group col-lg-6 col-md-6 name">
                                <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                            </div>
                            <div class="form-group col-lg-6 col-md-6 email">
                                <input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
                                      required=""></textarea>
                        </div>
                        <a href="#" class="primary-btn submit_btn">Post Comment</a>
                    </form>
                </div>*@
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        @*<div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Posts">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="lnr lnr-magnifier"></i>
                                </button>
                            </span>
                        </div>*@
                        <!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="~/Content/css_web/img/blog/author.jpg" alt="">
                        <h4>SEIKO KINTARO HATTORI</h4>
                        <p>Nhà sáng lập</p>
                        <div class="social_icon">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-github"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-behance"></i>
                            </a>
                        </div>
                        <p>
                            CÂU CHUYỆN VỀ CUỘC ĐỜI CỦA NHÀ SÁNG LẬP SEIKO KINTARO HATTORI
                            <hr />
                            Từ thuở nhỏ, nhà sáng lập hãng đồng hồ Seiko Kintaro Hattori đã mong muốn
                            trở thành thương gia, đến năm 13 tuổi ông học làm đồng hồ và bắt tay thực hiện ước mơ với
                            việc mở cửa hàng riêng với tên gọi “K. Hattori” tại Tokyo khi chỉ mới 21 tuổi.<br />
                            Năm mà Kintaro Hattori mở cửa hàng đồng hồ và đồ trang sức này cũng là thời điểm bắt
                            đầu của hãng Seiko, 1881. Việc kinh doanh, sửa chữa và chế tác đồng hồ mà ông tạo ra đã không
                            ngừng vươn lên bất chấp nhiều điều cản trở từ thiên tai cho đến chiến tranh để trở thành tập đoàn
                            đồng hồ lớn thứ 6 thế giới (thông tin cập nhật năm 2017).<br />
                            Trong suốt cuộc đời của Kintaro Hattori, ông đã tham gia và chứng kiến việc ngành công nghiệp
                            đồng hồ nướcnhà dần đổi thay, từ bị lệ thuộc vào các cường quốc đồng hồ phương Tây cho đến tự
                            mình làm được đồng hồ, linh kiện quan trọng trong đồng hồ và xuất khẩu sản phẩm chất lượng ra
                            các nước ngoài.
                        </p>
                        <div class="br"></div>
                    </aside>
                    @*<aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                        <div class="media post_item">
                            <img src="~/Content/css_web/img/blog/popular-post/post1.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Space The Final Frontier</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/Content/css_web/img/blog/popular-post/post2.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/Content/css_web/img/blog/popular-post/post3.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/Content/css_web/img/blog/popular-post/post4.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#">
                            <img class="img-fluid" src="~/Content/css_web/img/blog/add.jpg" alt="">
                        </a>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Catgories</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Technology</p>
                                    <p>37</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Lifestyle</p>
                                    <p>24</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Fashion</p>
                                    <p>59</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Art</p>
                                    <p>29</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Food</p>
                                    <p>15</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Architecture</p>
                                    <p>09</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Adventure</p>
                                    <p>44</p>
                                </a>
                            </li>
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <p>
                            Here, I focus on a range of items and features that we use in life without giving them a second thought.
                        </p>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Enter email'">
                            </div>
                            <a href="#" class="bbtns">Subcribe</a>
                        </div>
                        <p class="text-bottom">You can unsubscribe at any time</p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">Technology</a>
                            </li>
                            <li>
                                <a href="#">Fashion</a>
                            </li>
                            <li>
                                <a href="#">Architecture</a>
                            </li>
                            <li>
                                <a href="#">Fashion</a>
                            </li>
                            <li>
                                <a href="#">Food</a>
                            </li>
                            <li>
                                <a href="#">Technology</a>
                            </li>
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                            <li>
                                <a href="#">Art</a>
                            </li>
                            <li>
                                <a href="#">Adventure</a>
                            </li>
                            <li>
                                <a href="#">Food</a>
                            </li>
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                            <li>
                                <a href="#">Adventure</a>
                            </li>
                        </ul>
                    </aside>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->