
@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<style>
    .Err{
        width:500px;
        color:red;
        margin:0 auto;
    }
</style>
    <div class="Err">
        <h2>Thông báo:</h2>
        <p>Rất tiếc, bạn không có quyền sử dụng tác vụ này!</p>
    </div>
